:root {
  /*General*/
  --dp-font-family: inherit;
  --dp-border-radius: 2.4rem; /*Configurable border-radius*/
  --dp-cell-border-radius: 1.5rem; /*Specific border radius for the calendar cell*/

  /*Sizing*/
  --dp-button-height: 35px; /*Size for buttons in overlays*/
  --dp-month-year-row-height: 4rem; /*Height of the month-year select row*/
  --dp-month-year-row-button-size: 35px; /*Specific height for the next/previous buttons*/
  --dp-button-icon-height: 1.5rem; /*Icon sizing in buttons*/
  --dp-cell-size: 4.9rem; /*Width and height of calendar cell*/
  --dp-cell-padding: 0; /*Padding in the cell*/
  --dp-common-padding: 10px; /*Common padding used*/
  --dp-input-icon-padding: 35px; /*Padding on the left side of the input if icon is present*/
  --dp-input-padding: 6px 30px 6px 12px; /*Padding in the input*/
  --dp-menu-min-width: 37rem; /*Adjust the min width of the menu*/
  --dp-action-buttons-padding: 2px 5px; /*Adjust padding for the action buttons in action row*/
  --dp-row-margin:  5px 0; /*Adjust the spacing between rows in the calendar*/
  --dp-calendar-header-cell-padding:  0.5rem; /*Adjust padding in calendar header cells*/
  --dp-two-calendars-spacing:  10px; /*Space between multiple calendars*/
  --dp-overlay-col-padding:  3px; /*Padding in the overlay column*/
  --dp-time-inc-dec-button-size:  32px; /*Sizing for arrow buttons in the time picker*/
  --dp-menu-padding: 1rem 1.6rem; /*Menu padding*/

  /*Font sizes*/
  --dp-font-size: 1.2rem; /*Default font-size*/
  --dp-preview-font-size: 0; /*Font size of the date preview in the action row*/
  --dp-time-font-size: 1rem; /*Font size in the time picker*/
}

.dp__input {
  border-radius: 0;
  font-size: 0;
  padding: 0;
  width: 5.2rem;
  height: 3.25rem;
}

.dp__input_wrap .dp__icon {
  width: 2rem;
  height: 2rem;
  padding: .6rem 1.6rem;
}

.dp__month_year_wrap {
  justify-content: center;
}
.dp__month_year_select {
  width: auto;
  padding: 0 .3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
}

.dp__calendar_header_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dp__cell_inner {
  height: 4rem;
}

.dp__cell_offset.dp__range_start {
  color: var(--primary-color);
}

.dp--year-select:hover,
.dp__month_year_select:hover {
  background: none;
}