.apexcharts-tooltip-marker {
  display: none !important;
}

.apexcharts-tooltip {
  font-size: 1rem !important;
  font-family: inherit !important;
  min-width: 14.5rem;
  border: 0 !important;
}

.apexcharts-tooltip * {
  font-family: inherit !important;
  font-size: inherit !important;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
  font-weight: 800;
  padding: .6rem 1.1rem;
}

.apexcharts-tooltip .apexcharts-tooltip-series-group {
  padding: 0 1.1rem;
}
.apexcharts-tooltip-text {
  font-weight: 600;
}

.apexcharts-tooltip .apexcharts-tooltip-text-y-value {
  margin-left: 0;
}

.apexcharts-canvas > svg {
  background: transparent !important;
}

.vue-apexcharts .chart-axis-labels {
  font: var(--font-s);
  color: var(--secondary-color);
  fill: currentColor;
}