@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button, select, textarea, button {
  font-family: inherit;
  font-size: 1rem;
  background: none;
}

html {
  --fontSize: 10px;
  font-size: var(--fontSize);
  line-height: 1.3;
}

body {
  --AccentColor: #050505;

  --TextColorAccent: #110D0D;
  --TextColor: #212121;
  --TextColorGray: #535353;

  --PrimaryBg: #f2f2f2;
  --WhiteBg: #fcfcfc;

  --LayoutBorderColor: #D9D8D8;
  --ContentBorderColor: #ECECEC;

  --VioletText: #5D1AEC;
  --VioletBg: #E3DCF1;
  --VioletCharts: #764AE6;
  --redCharts: #E65764;
  --greenCharts: #6FBC84;

  font-family: 'Montserrat', sans-serif;
  background: var(--PrimaryBg);
  color: var(--TextColorAccent);
}

h1 {
  color: var(--AccentColor);
}
h2, h3, h4, h5, h6 {
  color: var(--TextColorAccent);
}